table{
width:340;
height:450;
border:0 solid #ddd;
opacity:;
font-size:26;
color:gray;;
float:center;
font-weight: normal; 
 font-family:Calibri;
 margin:50 0 0 0;
}
body {

  
}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}
	a{
		float:left;
		color:#666666;
		font-size:12;
		font-family:Arial,Helvetica,sans-serif;
		
		}
td{
padding:20;
}
.inputtext{
	outline: none;
	width:300; 
	border-color:#c6c6c6; 
	height:39;
	float:left;
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	margin:0 0 12 0;
	
	text-indent:20;
	
}
.inputbutton{
	outline: none;
	
	width:300; 
	color:white;
	border-color:#039ddf; 
	height:39; 
	float:left;
	margin:0 0 0 0;
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #039ddf;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	background-color:#039ddf;
	margin:0 0 12 0;
	
	
}
.inputbutton:hover{
	background-color:black;
	border-color:black;
}
.inputbutton1{
	outline: none;
	width:300; 
	color:white;
	border-color:rgb(56, 100, 163); 
	height:39; 
	float:left;
	margin:0 0 0 0;
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid rgb(56, 100, 163);
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	background-color:rgb(56, 100, 163);
	margin:0 0 12 0;
	
	
}
.inputbutton1:hover{
	background-color:#2B4B7D;
	border-color:#2B4B7D;
	
}
.inputbutton2{
	outline: none;
	width:300; 
	color:white;
	border-color:rgb(211, 72, 54); 
	height:39; 
	float:left;
	margin:0 0 0 0;
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid rgb(211, 72, 54);
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	background-color:rgb(211, 72, 54);
	margin:0 0 12 0;
	
	
}
.inputbutton2:hover{
	background-color:#B42A1F;
	border-color:#B42A1F;
	
}
.inputbutton3{
	outline: none;
	width:300; 
	color:white;
	border-color:rgb(102, 102, 102); 
	height:39; 
	float:left;
	margin:0 0 0 0;
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	background-color:rgb(102, 102, 102);
	margin:0 0 12 0;
	
	
}
.inputbutton3:hover{
	background-color:#039ddf;
	border-color:#039ddf;
	
}
.check{
outline: none;
	width:17;
	height:17;
	border-color:#c6c6c6; 
	opacity:0.8;
	float:left;
	margin:0 0 0 0;
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.yazi{
color:#666666; 
font-weight: normal; 
float:left;
 font-size:14; 
 margin:0 125 13 0;  
 font-family:Calibri;	
	
}